In [15]:
import pandas as pd
student_data={
              "Student_id":[101,102,103,104,105,106,107,108,109,110],
              "Name":["Alice","Bob","Charlie","Diana","Ethan","Fiona","George","Hannah","Ivan","Julia"],
              "Age":[20,21,19,22,20,21,23,19,22,20],
              "Score":[88,75,92,65,78,85,70,95,60,80],
              "Grade":["A","B","A","C","B","A","B","A","C","B"]
}
# Create a Pandas DataFrame, save it to a CSV file named 'students.csv', reload it to ensure data integrity.
df = pd.DataFrame(student_data)
df.to_csv('students.csv', index=False) # reload the DataFrame from the CSV file.
print("file created")
# Perform an initial data by displaying the first 3 rows
df.head(3)

file created

   Student_id     Name  Age  Score Grade
0         101    Alice   20     88     A
1         102      Bob   21     75     B
2         103  Charlie   19     92     A

In [17]:
# Generates descriptive statistics for numerical columns in the DataFrame.
df.describe()

       Student_id        Age      Score
count    10.00000  10.000000  10.000000
mean    105.50000  20.700000  78.800000
std       3.02765   1.337494  11.535453
min     101.00000  19.000000  60.000000
25%     103.25000  20.000000  71.250000
50%     105.50000  20.500000  79.000000
75%     107.75000  21.750000  87.250000
max     110.00000  23.000000  95.000000

In [20]:

# Explaining that it shows the dimensions (number of rows and columns) of the DataFrame.
df.shape

(10, 5)

In [21]:
# Explaining that it shows the data types of each column in the DataFrame
df.dtypes

Student_id     int64
Name          object
Age            int64
Score          int64
Grade         object
dtype: object

In [22]:

#Displaying a concise summary of the DataFrame.
df.info

<bound method DataFrame.info of    Student_id     Name  Age  Score Grade
0         101    Alice   20     88     A
1         102      Bob   21     75     B
2         103  Charlie   19     92     A
3         104    Diana   22     65     C
4         105    Ethan   20     78     B
5         106    Fiona   21     85     A
6         107   George   23     70     B
7         108   Hannah   19     95     A
8         109     Ivan   22     60     C
9         110    Julia   20     80     B>